/* CSS created by Henry James https://henryjames.space */

/* Mobile Styles */
@media only screen and (max-width: 451px) {
  h1 {
    font-size: calc(1em + 4vw);
  }
  .headerElmnt {
    font-size: 0.5em;
  }
  .page {
    height: 650px;
    margin-left: 5%;
    margin-right: 5%;;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 452px) and (max-width: 960px) {
  h1 {
    font-size: calc(1em + 3vw);
  }
  .page {
    height: 600px;
    margin-left: 5%;
    margin-right: 5%;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  h1 {
    font-size: 3em;
  }
  .page {
    width: 960px;
    height: 670px;
    margin: 0 auto;
  }
}
/* -------------- All devices -------------- */
* {
  box-sizing: border-box;
  margin: 0;
}

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  background-color: rgba(240,240,240,1);
  color: #1f0000;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
}

.click_a {
  transition: color 0.7s ease;
  color: #fba7ff;
  text-decoration: none;
}

.click_a:hover {
  color: #64ffff;
}

#shadowChange {
  box-shadow: 10px 10px 7px -6px rgba(220,220,222,1);
}
#shadowSubtle {
  box-shadow: 0px 0px 10px 4px rgba(230,230,230,1);
}

.page {
  margin-top: 1vh;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  background-color: rgba(243,243,243,0.95);
  border-radius: 32px;
  z-index: 3;
}

.pageMain {
  position: absolute;
  display: inline-block;
  z-index: 3;
  top: 10%;
  bottom: 10%;

}

.pageHeader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 90%;
  z-index: 3;
  border-radius: 32px 32px 0px 0px;
}

.headerElmnt {
  display: inline-block;
  width: 33%;
  height: 100%;
  z-index: 4;
  text-align: left;
  padding: 1%;
  text-align: center;
  margin: auto;
  overflow: hidden;
  box-shadow: 0px 0px 10px 4px rgba(230,230,230,1);
  border-radius: 32px;
}

.section {
  background-color: rgba(241, 241, 241, 0.7);
  transition: border 0.1s ease-in-out;
  width: 85%;
  margin-bottom: 6%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  padding: 4vh;
  display: flex;
  text-align: center;
  z-index: 4;
  border-radius: 32px;
  box-shadow: 0px 0px 10px 4px rgba(230,230,230,1);
  overflow: hidden;
}

.section:hover {
  box-shadow: 0px 0px 10px 8px rgba(0,200,200,0.2);
}

.headerButton {
  width: 100%;
  height: 100%;
}

#draggableDivAV {
  display: none;
  position: relative;
  z-index: -1;
  width: 100%;
}

#background_canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
