/* Mobile Styles */
@media only screen and (max-width: 451px) {
  h1 {
    font-size: calc(1em + 4vw);
  }

  .page {
    height: 451px;
    margin-left: 1%;
    margin-right: 1%;
  }
}
/* Tablet Styles */
@media only screen and (min-width: 452px) and (max-width: 960px) {
  h1 {
    font-size: calc(1em + 3vw);
  }

  .page {
    height: 451px;
    margin-left: 3%;
    margin-right: 3%;
  }

  .section {
    width: 90%;
  }
}
/* Desktop Styles */
@media only screen and (min-width: 961px) {
  h1 {
    font-size: 2.5em;
  }

  .page {
    width: 760px;
    height: 500px;
    margin: 0 auto;
  }

  .section {
    width: 85%;
  }
}
html {
  overflow-x: hidden;
}

body {
  background-color: #f9f9f9;
  color: white;
  font-family: "ZCOOL QingKe HuangYou", "cursive";
}

.page {
  background-color: #f9f9f9;
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
}

#theMainPage {
  -webkit-animation: fadein 1s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s;
  /* Firefox < 16 */
  -ms-animation: fadein 1s;
  /* Internet Explorer */
  -o-animation: fadein 1s;
  /* Opera < 12.1 */
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.prints img {
  height: auto;
}
.prints-container {
  height: 100%;
}

img {
  width: 100%;
  box-shadow: 0px 0px 6px 6px white;
  margin-top: 20px;
  margin-bottom: 20px;
}

#js-background_canvas {
  position: absolute;
  transition: box-shadow 0.1s ease-in;
  z-index: -2;
  box-shadow: 0px 0px 10px 2px #b4b4b4;
}
#js-background_canvas:hover {
  box-shadow: 0px 0px 10px 2px #00b4b4;
}

.zdog-svg {
  height: 100%;
  width: 100%;
}

.click_a {
  transition: color 0.7s ease;
  color: #fba7ff;
  text-decoration: none;
}
.click_a:hover {
  color: #64ffff;
}

.pageHeader {
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  height: 10%;
  z-index: 4;
  box-shadow: 0px 4px 3px -1px rgba(230, 230, 230, 0.4);
}

.headerElmnt {
  z-index: 4;
  text-shadow: 3px 3px 2px #f9f9f9;
  display: flex;
  align-items: center;
  padding: 5px;
}

.section {
  background-color: rgba(0, 0, 0, 0);
  transition: box-shadow 0.1s ease-in-out;
  justify-content: center;
  padding: 2%;
  margin: 4%;
  text-align: center;
  z-index: 4;
  border-radius: 32px;
  overflow: hidden;
}
.section:hover {
  box-shadow: 0px 0px 5px 2px #e6e6e6;
  background-color: rgba(0, 0, 0, 0.1);
}

.headerButton {
  width: 100%;
  height: 100%;
}

.is-pointer {
  cursor: pointer;
}

button {
  cursor: pointer;
  background-color: #f9f9f9;
  padding: 0;
  border: none;
  background: none;
  font-size: 3em;
  width: 50px;
  height: 50px;
}
button:hover {
  box-shadow: 0px 0px 3px 1px #e6e6e6;
  background-color: #e6e6e6;
}

.myButton:hover {
  background-color: transparent;
}

#print2 {
  display: none;
}

#print3 {
  display: none;
}

#print4 {
  display: none;
}

#print5 {
  display: none;
}

#print6 {
  display: none;
}

#print7 {
  display: none;
}

#js-prints-section, #js-audio-visual-section, #js-home-section {
  display: none;
}
#js-prints-section.is-showing, #js-audio-visual-section.is-showing, #js-home-section.is-showing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-row {
  color: #141414;
}

.bottom-row {
  display: flex;
  justify-content: flex-end;
}

/*# sourceMappingURL=main.css.map */
