//////////////////////////////////////////////////////////////////////////////
// declare global variables
$mainWhite: rgba(249,249,249,1);
$mainBlack: rgba(20,20,20,1);
$mainFont: 'ZCOOL QingKe HuangYou', 'cursive';
//////////////////////////////////////////////////////////////////////////////
@mixin center-children {
    display: flex;
    justify-content: center;
    align-items: center;
}
//////////////////////////////////////////////////////////////////////////////
@mixin absolute-top-left {
    position: absolute;
    top: 0;
    left: 0;
}
//////////////////////////////////////////////////////////////////////////////
@import "deviceResize";
@import "page";
@import "blocks";
//////////////////////////////////////////////////////////////////////////////
